{
  "plugins": [
    "dynamic-import-webpack",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 1 version", "ie >= 11"]
        }
      }
    ]
  ]
}
