/**
 * Fonts
 */

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'RussoOne-Regular';
  src: url('/assets/fonts/RussoOne-Regular.ttf');
}

@font-face {
  font-family: 'Dosis-Regular';
  src: url('/assets/fonts/Dosis-Regular.ttf');
}

@font-face {
  font-family: 'Dosis-Bold';
  src: url('/assets/fonts/Dosis-Bold.ttf');
}

@font-face {
  font-family: 'Anton-Regular';
  src: url('/assets/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('/assets/fonts/Nunito-Regular.ttf');
}
