/**
 * Common
 */

.form-control-inline {

  span,
  select.form-control {
    display: inline-block;
  }

  select.form-control {
    width: auto;
    margin-left: 1rem;
  }
}

.float-btn {
  margin-top: 1.8rem;
  position: absolute;
  right: 1.5rem;
  top: .5rem;
}

.formMessage {
  padding: .5rem;
  display: inline-block;
}

input.form-control.form-control {
  border-radius: 0;
}
