/**
 * In
 */

html {
  body {
    .page-in {
      margin-top: 5rem;

      @media (max-width: 768px) {
        margin-top: 0;
      }
    }

    .page {
      .in {
        background: #e8e8e8;
        height: 100%;
      }
    }
  }
}
