/**
 * Header
 */

// UserInfo
@import "user-info";

.navbar {
  background: #fff;
  border-bottom: 1px solid #efefef;
  padding: 2rem;

  .navbar-brand {
    font-family: 'RussoOne-Regular';
    font-size: 2.2rem;
    margin-left: 10rem;
    color: #000;

  }

  .navbar-nav {
    font-size: 1.6rem;
    margin-right: 2rem;

    &>li>a {
      margin: .5rem;

      &:hover {
        color: #05d2af !important;
      }
    }
  }

  .right-menu {
    margin-left: auto !important;

    &>* {
      display: -webkit-inline-box;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    .navbar-nav {
      display: none;
    }
  }
}
