/**
 * Menu
 */

.bm-burger-button {
  position: absolute;
  width: 24px;
  height: 18px;
  left: 36px;
  right: initial;
  top: 33px;
}

.menu-right .bm-burger-button {
  left: initial;
  right: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu-wrap {
  background: #333;
  color: #DDD;
  padding: 20px;
  box-shadow: 0px 0 10px 4px rgba(51, 51, 51, 0.4);

  .bm-menu {
    margin-top: 20px;

    .bm-item-list {
      .menu-n1 {
        display: flex !important;
        flex-direction: column;

        &.active {
          border: 1px solid #272727;

          & > a {
            border: 1px solid #464545;
          }
        }

        .menu-submenu {
          background: #5a5a5a;
          box-shadow: inset 0 0 20px -6px #000;

          .menu-n2 {
            display: flex;
          }
        }
      }

      a {
        width: 100%;
        color: #DDD;
        font-size: 16px;
        padding: 10px 20px ;

        &:hover {
          background: #444;
          font-weight: bold;
          text-decoration: none;
        }

        i + span {
          margin-left: 20px;
        }
      }
    }
  }

  .bm-cross-button {
    .bm-cross {
      background: #fff;
    }
  }
}
