/**
 * User Info
 */

.user-info {
  padding: 1.5rem;
  border-bottom: 1px solid #444343;
  margin-bottom: 2rem;
  text-align: right;

  .username {
    font-family: 'Dosis-Bold';
    font-size: 1.6rem;
  }
}
