/**
 * Button
 */

.btn {
  border-radius: 0;
  padding: 1rem 3rem;
  border-color: transparent;
  background-color: #4cbef3;

  &:hover {
    background-color: #209dd8;
    border-color: transparent;
    box-shadow: 0 .4rem 1.6rem -.3rem rgba(0, 1, 31, .4);
  }
}
