/**
 * Common
 */

html {
  height: 100%;
  font-size: 10px;

  body {
    height: 100%;
    font-family: 'Roboto-Regular';
    font-size: 10px;

    .right {
      float: right;
    }

    h1 {
      margin-left: 3rem;
    }

    h4 {
      font-family: 'Dosis-Regular';
    }

    #root {
      font-size: 1.4rem;
      height: 100%;
      background: rgb(166, 58, 180);
      background: linear-gradient(17deg, rgba(166, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    }

    .page-in {
      margin-top: 5rem;

      @media (max-width: 768px) {
        margin-top: 0;
      }
    }

    .content {
      padding-top: 2rem;
    }

    .header+.content {
      padding-top: 0;
    }

    table {
      .btn {
        font-size: 1rem;

        &+.btn {
          margin-left: .5rem;
        }
      }
    }

    .menu-right {
      h1 {
        margin-left: 0;
      }

      .navbar-brand {
        margin-left: 0;
      }
    }

    .badge {
      font-size: .8rem;
    }

    .alert {
      box-shadow: 0 .5rem 1.7rem -.8rem;
      text-align: left;
      display: flex;

      &>i {
        margin-right: .5rem;
        font-size: 1rem;
      }

      span {
        font-size: .8rem;
      }
    }

    .scrollToTop {
      padding: 1rem;
      background: #CCC;
      color: #fff;
      font-size: 1rem;

      &:hover {
        background: #999;
      }
    }
  }
}
