/**
 * Common
 */

 html {
  height: 100%;

  body {
    height: 100%;
    font-family: 'Roboto-Regular';
    font-size: 10px !important;

    .right {
      float: right;
    }

    h1 {
      margin-left: 3rem;
    }

    h4 {
      font-family: 'Dosis-Regular';
    }

    #root {
      height: 100%;
      background: #DDD;
    }

    .page-in {
      margin-top: 50px;

      @media (max-width: 768px) {
        margin-top: 0;
      }
    }

    .content {
      padding-top: 20px;
    }

    .header + .content {
      padding-top: 0;
    }

    table {
      .btn {
        font-size: 1rem;

        & + .btn {
          margin-left: 5px;
        }
      }
    }

    .menu-right {
      h1 {
        margin-left: 0;
      }

      .navbar-brand {
        margin-left: 0;
      }
    }

    .badge {
      font-size: .8rem;
    }

    .alert {
      box-shadow: 0 .5rem 1.7rem -.8rem;
      text-align: left;
      display: flex;

      & > i {
        margin-right: .5rem;
        font-size: 1rem;
      }

      span {
        font-size: .8rem;
      }
    }
  }
}

