/**
 * Filters
 */

.filter-wrapper {
  &>div {
    padding: 1rem 3rem;
  }

  .filter-label {
    display: inline-block;
    margin: 0 .5rem 1rem;

    span {
      display: inline-block;
      margin: .5rem;
    }

    .close {
      display: inline-block;
      margin: .2rem 0 .2rem .5rem;
      cursor: pointer;
      color: #FFF;
      font-size: 1.4rem;

      &:hover {
        opacity: .5;
      }
    }
  }
}

.filter-wrapper {
  .filter-title {
    width: 7rem;
    display: inline-block;
    position: relative;

    i {
      float: left;
      font-size: 1.5rem;
      margin: .2rem 1rem .2rem 0;
      position: absolute;
      left: -.5rem;
      top: .3rem;
    }

    span {
      display: inline-block;
      margin-top: .5rem;
    }
  }
}

.table-with-filter {
  .rt-tbody span {
    display: inline-block;
    padding: .5rem 1rem;

    &.filter-select {
      font-size: 1.2rem;
      cursor: pointer;

      &:hover {
        box-shadow: 0 .2rem .7rem -.3rem #000;
        background: #1c84c6;
        color: #FFF;
        border-radius: .5rem;

        &:after {
          content: '\f0b0';
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          margin: 0 0 0 1rem;
          text-decoration: none;
        }
      }
    }
  }
}
