/**
 * Modal
 */

.modal {
  .modal-title {
    &>i+span {
      margin-left: 1rem;
    }
  }

  .modal-body {
    .moreOptions {
      border-top: 1px solid #bbb;
      padding: 2rem 5rem;
      margin-left: -3rem;
      margin-right: -3rem;
      margin-bottom: -3rem;
      box-shadow: inset 0 1.3rem 1rem -.6rem #bbb;
      background: #f2f2f2;
    }

    .checkbox-item {
      &>label>* {
        display: inline-block;
        vertical-align: middle;
      }

      label {
        cursor: pointer;
      }

      input[type="checkbox"]+span {
        display: inline-block;
        margin-left: .5rem;
        margin-top: .5rem;
      }
    }

    fieldset {
      padding: .35em .625em .75em;
      margin: 0 .2rem;
      border: 1px solid silver;

      legend {
        display: block;
        padding: 0;
        margin-bottom: 2rem;
        font-size: 1.4rem;
        line-height: inherit;
        color: #333;
        border: 0;
        width: auto;
      }
    }
  }
}
