/**
 * Menu
 */

.bm-burger-button {
  position: absolute;
  width: 2.4rem;
  height: 1.8rem;
  left: 3.6rem;
  right: initial;
  top: 3.3rem;
}

.menu-right .bm-burger-button {
  left: initial;
  right: 3.6rem;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-menu-wrap {
  background: #333;
  color: #DDD;
  padding: 2rem;
  box-shadow: 0 0 1rem .4rem rgba(51, 51, 51, .4);

  .bm-menu {
    margin-top: 2rem;
    font-size: 1.2rem;

    .bm-item-list {
      .menu-n1 {
        display: flex !important;
        flex-direction: column;

        &.active {
          border: 1px solid #272727;

          &>a {
            border: 1px solid #464545;
          }
        }

        .menu-submenu {
          background: #5a5a5a;
          box-shadow: inset 0 0 2rem -.6rem #000;

          .menu-n2 {
            display: flex;
          }
        }
      }

      a {
        width: 100%;
        color: #ddd;
        font-size: 1.2rem;
        padding: 1rem 2rem;

        &:hover {
          background: #444;
          font-weight: bold;
          text-decoration: none;
        }

        i+span {
          margin-left: 2rem;
        }
      }
    }
  }

  .bm-cross-button {
    .bm-cross {
      background: #fff;
    }
  }
}
